
/*- Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)*/







@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100vh;
    height: 100vh;
    font-size: 16px;
    font-family: "Poppins";
    background:url("images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%) ;
   
}

.container{
    margin-top: 100px;
    margin-bottom:100px;
   /* max-height: 100vh;
    max-width: 100vw;*/
    margin-left: 25%;
    width: 1200px;
    height: 670px;
   display: flex;
   flex-direction: center;
   color: white;
   justify-content: center;
  
   
  

   
   
  
}

.top_btn{
    background-color:hsl(248, 32%, 49%) ;
    color: white;
    width: 600px;
    height: 60px;
    border-radius: 10px;
    border: none;
    margin-bottom: 0px;
    font-size: 16px;
    box-shadow: 0px 7px #4746465d;
    font-family: "Poppins";
    font-weight: 400;
    cursor: pointer;

}

.btm_btn[type=submit]  {
    padding:5px;
    background-color:hsl(154, 59%, 51%) ;
    color: white;
    width: 530px;
    height: 55px;
    border: none;
    border-radius: 5px;
    box-shadow:0px 5px hsl(154, 62%, 45%);
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    margin-left: 35px;
    text-transform: uppercase;
    
    letter-spacing: 1.7px;
    font-family: "Poppins";
    font-weight: 500;
    cursor: pointer;
    
    

}

.form-content{
    /*height: 200px;*/
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-bottom: 0px;
   
    width: 600px;
    border:none;
  
  
}

.form_wrapper{
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 25px;
    


}

.info{
    width: 600px;
    margin-top: 250px;
}
.form_content{
    border: none;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    margin-top:25px;
    margin-bottom: 0px;
    
   /* box-shadow:1px 7px 1px 1px #49484852;*/
    
    
    
}

input[type=text] {
    height: 55px;
    outline: none;
   border-radius: 5px;
  
   border: 1.5px solid hsl(246, 25%, 77%);
   margin-bottom: 0px;
   margin-top:25px;
   width: 530px;
   font-family: "Poppins";
   font-size: 16px;
   margin-left: 35px;
   padding: 25px;
   cursor:pointer;
   background-image: url("images/icon-error.svg");
   background-repeat: no-repeat;
   background-position:475px;
   font-weight: 600;
   background-image: none;
  
  
   
  
   
    
}

.bottom_line{
    color:hsl(246, 25%, 77%);
    font-size: 12px;
    margin-left: 90px;
    width: 450px;
    margin-bottom: 45px;
   
    
    
}

.headline {
    font-weight: 800;
    font-size: 56px;
    line-height: 60px;
}

p{
    margin-top: 40px;
    font-family: "Poppins";
    
    

}

/*input[type=text] :active{
    border-color:rgb(252, 0, 13);
}
*/
.bold{
    font-weight: bold;
}

.terms{
    color:hsl(0, 100%, 74%) ;
    font-weight: bold;

}

/*.firstname{
    font-size: 12px;
    text-align: right;
    font-style: italic;
    font-weight: 400;
    color:hsl(0, 100%, 74%) ;
    margin-right: 35px;
    margin-top: 5px;
    opacity: 80%;
    display:none;
    

}*/

/*.lastname{
    font-size: 12px;
    text-align: right;
    font-style: italic;
    font-weight: 400;
    color:hsl(0, 100%, 74%) ;
    margin-right: 35px;
    margin-top: 5px;
    opacity: 80%;
    display:none;

} 
/*.email{
    font-size: 12px;
    text-align: right;
    font-style: italic;
    font-weight: 400;
    color:hsl(0, 100%, 74%) ;
    margin-right: 35px;
    margin-top: 5px;
    opacity: 80%;
    display: none;
}*/

input[type=password] {
    height: 55px;
    outline: none;
   border-radius: 5px;
  
   border: 1.5px solid hsl(246, 25%, 77%);
   margin-bottom: 5px;
   margin-top:25px;
   
   width: 530px;
   font-family: "Poppins";
   font-size: 16px;
   margin-left: 35px;
   padding: 25px;
   cursor:pointer;
   /*background-image: url("images/icon-error.svg");*/
   background-repeat: no-repeat;
   background-position:475px;
   font-weight: 600;
   
   
}

/*.password{
    font-size: 12px;
    text-align: right;
    font-style: italic;
    font-weight: 400;
    color:hsl(0, 100%, 74%) ;
    margin-right: 35px;
    margin-top: 5px;
    opacity: 80%;
    display: none;
}*/


.form-wrap{
    border: none;
    margin-top: 20px;
    margin-bottom: 45px;
    background-color: white;
    border-radius: 5px;
    box-shadow:0px 8px #49484852;
    
   

}

input:focus{
    border-color: hsl(249, 10%, 26%) ;
    color:hsl(249, 10%, 26%);
}


/*.test:focus {
    border: 2px solid hsl(249, 10%, 26%) ;
  }
*/


.img_error{
    position: absolute;
    top: 32.6%;
    right: 27.8%;
    display:none;
    

}

#nameError {
    display: none;
    
    
  }
  
  #nameError.visible {
    display: block;
  }
  
  input.invalid {
    
    border: 2px solid hsl(0, 50%, 56%);
    background-image: url("images/icon-error.svg");
    
    
    

}

    
  
  
 input.invalid::placeholder{
     color: red;
 }

  #nameError{
    font-size: 12px;
    text-align: right;
    font-style: italic;
    font-weight: 400;
    color:hsl(0, 100%, 74%) ;
    margin-right: 35px;
    margin-top: 5px;
    opacity: 80%;
  }


 
#lastnameError{
    display:none;
    font-size: 12px;
    text-align: right;
    font-style: italic;
    font-weight: 400;
    color:hsl(0, 100%, 74%) ;
    margin-right: 35px;
    margin-top: 5px;
    opacity: 80%;
    
}

#lastnameError.visible {
    display: block;
    
    
}


 
 
  

#emailError{
    display:none;
    font-size: 12px;
    text-align: right;
    font-style: italic;
    font-weight: 400;
    color:hsl(0, 100%, 74%) ;
    margin-left: 35px;
    margin-top: 5px;
    margin-right: 35px;
    opacity: 80%;
  }

  #emailError.visible {
      display: block;
      
      
  }

#pswError{
    display:none;
    font-size: 12px;
    /*text-align: right;*/
    font-style: italic;
    font-weight: 400;
    color:hsl(0, 100%, 74%) ;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 35px;
    opacity: 80%;
}
 
  #pswError.visible{
      display:block;
  }